// Define variables for your color scheme

// For example:
$white: #FFFFFF;
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$pink-primary: #FF0055;
$pink-hover: #CC0044;
$pink-active: #990033;
$green-primary: #31F7C8;
$green-hover: #CC0044;
$green-active: #990033;
$dark: #303030;
$dark-text: #5F5F5F;
