<% content_for :head do %>
  <%= javascript_pack_tag 'users_edit', 'data-turbolinks-track': 'reload', defer: true
  %>
<% end %>

<p id="hidden" hidden><%= @user.eth_address %></p>
<h1>this is what happens when you're logged in</h1>
<h3>Writing Entries</h3>
<% @mirror[:url].each_with_index do |element, index| %>
  <a href=<%= element %>><%= @mirror[:title][index] %></a>
  <br>
<% end %>

<h3>Digital Assets (NFT's)</h3>
<div id="nfts">
</div>
