<% if logged_in? && current_user == @user %>
  <h1>this is what happens when you're logged in</h1>
  <h3>My Writing Entries</h3>
  <% @mirror[:url].each_with_index do |element, index| %>
    <a href=<%= element %>><%= @mirror[:title][index] %></a>
    <br>
  <% end %>
<% else %>
  <h2> this is what happens when you're not logged in</h2>
<% end %>
