<div class="footer">
  <div class="container">
    <div class="row my-5">
      <div class="col-sm-12">
            <%# <%= image_tag "ac.png", class: :small %>

      </div>
    </div>
    <div class="row my-3">
      <div class="col-sm-3">
        <h6>Popular Auctions</h6>
        <br>
        <p><a href="#">Frida Kahlo oil paintings on canvas</a></p>
        <p><a href="#">Georgia O’Keeffe: Art, Image, Style</a></p>
        <br>
      </div>
      <div class="col-sm-3">
        <h6>Sell your art</h6>
        <br>
        <p><%= link_to "#", "#" %></p>
        <p><%= link_to "#", "#" %></p>
        <br>
      </div>
      <div class="col-sm-3">
        <h6>MoonLink</h6>
        <br>
        <p><a href="#">About us</a></p>
        <p><%= link_to "#", "#" %></p>
        <br>
      </div>
      <div class="col-sm-3">
        <h6>Support</h6>
        <br>
        <p><a href="#">FAQs</a></p>
        <p><a href="#">Contact us</a></p>
        <br>
      </div>
      <div class="row my-3">
        <div class="col-sm-3">
          <div class="footer-links">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </div>
        </div>
      </div>
        <div class="row my-5">
          <div class="col-sm-6">
            <p class="footer-white">© 2022 MOONLINK - ALL RIGHTS RESERVED.</p>
          </div>
          <div class="col-sm-2">
            <p class="byline"><a href="#">PRIVACY POLICY</a></p>
          </div>
          <div class="col-sm-2">
            <p class="byline"><a href="#">COOKIE POLICY</a></p>
          </div>
          <div class="col-sm-2">
            <p class="byline"><a href="#">TERMS & CONDITIONS</a></p>
          </div>
        </div>
      </div>
