<footer class="footer mt-5">
  <div class="container">
    <div class="row my-5">
      <div class="col-sm-12 border-bottom border-5 border-secondary">
            <%# <%= image_tag "ac.png", class: :small %>
            <h4 class="mb-5">MoonLink</h4>
      </div>
    </div>
    <div class="row my-3">
      <div class="row my-3">
        <div class="col-sm-3">
          <div class="footer-links">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </div>
        </div>
      </div>
        <div class="row my-3">
          <div class="col-sm-6">
            <p class="footer-white">© 2022 MOONLINK - ALL RIGHTS RESERVED.</p>
          </div>
          <div class="col-sm-2">
            <p class="byline"><a href="#">PRIVACY POLICY</a></p>
          </div>
          <div class="col-sm-2">
            <p class="byline"><a href="#">COOKIE POLICY</a></p>
          </div>
          <div class="col-sm-2">
            <p class="byline"><a href="#">TERMS & CONDITIONS</a></p>
          </div>
        </div>
      </div>
