<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand d-flex" do %>
      <%= image_tag "logo.png", alt: "moonlink logo" %>
      <h4 class="logo-text">MoonLink</h4>
    <% end %>
    <div class="collapse navbar-collapse d-flex" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%# <%= link_to "Login", "#", id="", class: "btn btn-primary" %>
          <button class="btn btn-primary" id="connect-wallet">Login</button>
                <%= javascript_pack_tag "sessions_new", defer: true %>
        </li>
      </ul>
    </div>
  </div>
</div>
