    <div class="container">
  <nav class="navbar navbar-expand-lg navbar-lewagon">
    <div class="container-fluid">
      <%= link_to root_path, class: "navbar-brand d-flex" do %>
        <%= image_tag "logo.png", alt: "moonlink logo" %>
        <h4 class="logo-text">MoonLink</h4>
      <% end %>
    </div>
  </nav>
</div>
