.carousel-item {
  .nft-image {
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    width: 100%;
    position: relative;
  }

  a {
    text-decoration: none;
    position: absolute;
    margin-left: 15px;
    top: 22px;
    left: 50px;
    color: $white;
    transition: 0.3s;
  }

  a:hover {
    border-bottom: 3px solid $green-primary;
    color: $light-gray;
  }

  .avatar {
    position: absolute;
    top: 15px;
    left: 15px;
    border: 2px solid $white;
  }
}
