// .footer {
//   background: white;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   height: 5rem;
//   padding: 0px 50px;
//   color: rgba(0,0,0,0.3);
//   position: relative;
//   bottom: 0;
//   width: 100%;
// }
// .footer-links {
//   display: flex;
//   align-items: center;
// }
// .footer-links a {
//   color: black;
//   opacity: 0.15;
//   text-decoration: none;
//   font-size: 24px;
//   padding: 0px 10px;
// }
// .footer-links a:hover {
//   opacity: 1;
// }
// .footer .fa-heart {
//   color: #D23333;
// }



.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  color: $white;
  background:url('footer-image.png');
  opacity: 0.9;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}

.footer-links {
  display: inline-flex;
  align-items: center;
}

.footer-links a {
  color: $white;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer h6 {
  color: $white;
}
 p a{
  color: $white;
  text-decoration: none;
}

.footer-links a:hover {
  color: #D39536;
}

.footer-white {
  color: $white !important;
  font-weight: 600;
}

.small {
  width: 50px;
}

.border {
  border-bottom: 5px solid $pink-primary;
}
