.navbar-lewagon {
  justify-content: space-between;
  background: none;
  padding: 2.5rem 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  align-items: center;
}
.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.logo-text {
  padding-left: 10px;
  color: white;
  font-weight: bold;
  letter-spacing: 3px;
}

.navbar-nav {
  align-items: center;
}

.navbar-light .navbar-nav .nav-link {
  color: white;

  &:hover {
    color: gainsboro;
  }
}
