body {
  min-height: 100%;
  background-image: url("https://images.unsplash.com/photo-1519810755548-39cd217da494?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3388&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 2000px;
}

.hero {
  height: 75vh;
  text-align: center;
  align-items: center;
  padding: 300px 0;
}
